In [10]:
import pandas as pd

In [8]:


name = input("What is your name?
print(f"Hello, {name}!")

What is your name? kannan
Hello, kannan!

In [9]:

number = float(input("Please enter a number: "
square = number
print("The square of", number, "is", square)

Please enter a number: 4
The square of 4.0 is 16.0

In [12]:
def sum_of_squares(a, b):
    def sum_squares(n):
        return n * (n + 1) * (2 * n + 1) // 6

    return sum_squares(b) - sum_squares(a - 1)